/*banner section start*/

.banner {
    margin-top: -14px;
    position: relative;
    .wrapper { width: 100%; }
    .banner-recipe {
        width: 9%;
        padding: 45px 0%;
        border-radius: 50%;
        @extend %banner-position;
        z-index: 1;
        top: 100px;
        right: -2%;
        background-color: $primary-color7;
        color: $primary-color3;
        font-weight: $weight;
        text-align: $align;
        text-transform: $text-trans1;
        span {
            display: block;
        }
    }
    .card-text {
        width: 25%;
        @extend %banner-position;
        top: 290px;
        right: -6%;
        background-color: $primary-color3;  
        .recipe-text {
            padding: 50px 6% 40px;
            h2 {
                margin-bottom: $margin;
                color: #262F38;
                font-size: 36px;
                font-family: $family;
                letter-spacing: 1px;
                text-align: $align;
                text-transform: $text-trans2;
            }
            p {
                margin-bottom: $margin;
                color: #7F8388;
                font-size: 23px;
                font-family: $family;
                text-align: $align;
                &::first-letter { text-transform: $text-trans2; }
            }
            div {
                text-align: $align;
                figure { 
                    width: 12%;
                    display: $display;
                    img { border-radius: 50%; }
                }
                h3 {
                    margin-left: 2%;
                    display: $display;
                    color: #302F42;
                    font-weight: $weight;
                    text-transform: $text-trans1;
                }
            }
        }
    }
    .banner-icon {
        @extend %banner-position;
        bottom: 0px;
        left: 15%;
        li {
            transition: $transition;
            &:first-child { 
                a {
                    text-indent: 0;
                    text-transform: $text-trans2;
                }
            }
            a {
                padding: 15px;
                border-radius: 4px;
                background-color: rgba($color: $primary-color4, $alpha: .6);
                color: $primary-color3;
                text-indent: -9999px;
                &::before {
                    margin-right: 5px;
                    @extend %icon;
                    font-size: 18px;
                }
            }
            &:hover {
                background-color: #7F8388;
            }
            .bookmark::before { content: "\f097"; }
            .facebook::before { content: "\f09a"; }
            .pinterest::before { content: "\f231"; }
            .share::before { content: "\f064"; }   
        }
    }
}

/*banner section end*/

/*recipe guide section start*/

.recipe-guide {
    background-color: #F1F3EE;
    padding: 55px 0;
    .recipe-text {
        margin: 16px 0 8px;
        color: #36383B;
        font-family: $family;
        font-size: 32px;
        text-transform: $text-trans2;
    }
    .recipe-sub-text {
        margin-bottom: 45px;
        color: #B3A7A4;
        font-size: 30px;
        &::first-letter { text-transform: $text-trans2; }
    }
    .collection-btn {
        text-align: $align;
        a {
            padding: 15px 3%;
            border: 2px solid $primary-color8;
            border-radius: 6px;
            color: #6E7473;
            font-weight: $weight;
            text-transform: capitalize;
            transition: $transition;
            &:hover {
                background-color: $primary-color8;
                color: $primary-color3;
            }
        }
    }
    .wrapper { width: 79%; }
    .recipe-heading {
        text-align: $align;
        h2 {
            margin-bottom: 10px;
            color: #25252C;
            font-size: 50px;
            font-weight: $weight;
            text-transform: $text-trans2;
        }
        p {
            padding-bottom: 50px;
            border-bottom: 9px solid #292728;
            color: #595553;
            font-family: $family;
            font-size: 19px;
            font-weight: $weight;
            text-transform: $text-trans1;
        }
    }
    .recipe-slider {
        padding-bottom: 60px;
        @extend %border-style;
        ul {
            margin-bottom: 40px;
            @extend %display;
            li {
                width: 23%;
                background-color: $primary-color3;
                .recipe-description {
                    padding: 16px 12px;
                    h4 {
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: $weight;
                        text-transform: $text-trans2;
                    }
                    p {
                        margin-bottom: 46px;
                        color: #585659;
                        font-size: 14px;
                        text-transform: $text-trans2;
                    }
                    .time {
                        margin-bottom: 8px;
                        color: #CECCCF;
                        font-size: 13px;
                        &::after {
                            content: "\f097";
                            @extend %icon;
                            cursor: pointer;
                            float: right;
                        }
                    }
                }
                &:last-child {
                    p { margin-bottom: 28px; }
                }
            }
        }
        .inbox {
            @extend %display;
            justify-content: space-around;
            div {
                p {
                    &:first-child {
                        margin-bottom: 8px;
                        color: #2C2928;
                        font-size: 18px;
                        font-weight: $weight;
                        &::first-letter { text-transform: $text-trans2; }
                    }
                }
                p {
                    &:last-child {
                        color: #B7B3B3;
                        &::first-letter { text-transform: $text-trans2; }
                    a {
                        border-bottom: 2px solid $primary-color5 ;
                        color: $primary-color5;
                        transition: $transition;
                        &:hover { color: $primary-color4; }
                    }
                }
            }
        }
        form {
          @include form;
        }
    }
    }
    .recipe-display {
        padding-bottom: 70px;
        @extend %border-style;
        .recipe-list {
            @extend %display;
            flex-wrap: wrap;
            li {
                width: 48%; 
                margin-bottom: 35px; 
                background-color: $primary-color3;
            }
            .view-recipe {
                padding: 30px 3% 50px;
                text-align: $align;
                text-transform: $text-trans2;
                h4 {
                    margin-bottom: 15px;
                    font-size: 25px;
                }
                div {
                    a {
                        padding: 10px 5%;
                        background-color: $primary-color7;
                        color: $primary-color3;
                        transition: $transition;
                        &::before {
                            content: "\f097";
                            margin-right: 12px;
                            @extend %icon;
                        }
                        &:hover { background-color: $primary-color5; }
                    }
                   
                }
            }
    
        }
    }
    .master-basics {
        ul {
            padding-bottom: 55px;
            @extend %display;
            li { background-color: #241F25; }
            .recipe-image {
                position: relative;
                div {
                    position: absolute;
                    bottom: 10px;
                    right: 5%;
                    a {
                        cursor: pointer;
                        text-indent: -9999px;
                        &::before {
                            content: "\f01d";
                            @extend %icon;
                            color: $primary-color3;
                        }
                    }
                }
            }
            .cooking-guide {
                padding: 20px 5% 50px;
                letter-spacing: 1px;
                p {
                    &:first-child {
                        margin-bottom: 6px;
                        color: #B0ABB1;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
                h4 {
                    margin-bottom: 6px;
                    color: #FCF8FC;
                    text-transform: capitalize;
                }
                p {
                    &:last-child {
                        font-size: 14px;
                        color: #B6B1B7;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }   
}

/*recipe guide section end*/

/* newsletter section start*/

.newsletter {
    padding: 30px 0 45px;
    background-color: #E5E7E2;
    .wrapper { width: 78%; }
    .newsletter-mail {
        width: 65%;
        display: $display;
        h4 {
            margin-bottom: 10px;
            color: #555350;
            font-family: $family;
            font-size: 32px;
            text-transform: $text-trans2;
        }
        p {
            margin-bottom: 30px;
            color: #7D7B7A;
            font-size: 18px;
            &::first-letter { text-transform: $text-trans2; }
            a {
                border-bottom: 1px solid #7D7B7A;
                color: inherit;
                cursor: pointer;
                transition: $transition;
                &:hover { color: $primary-color4; }
            }
        }
        form {
            @include form;
            div {
                &:first-child { 
                    margin-left: 0;
                    flex-basis: 34%; 
                }
            }
        }
    }
    .icons {
        width: 34%;
        display: $display;
        vertical-align: top;
        text-align: $align;
        ul {
            @extend %display;
            margin-bottom: 40px;
            justify-content: center;
            li {
                margin-left: 5%;
                a {
                    padding: 13px 15px;
                    border: 3px solid #D9DBD8;
                    border-radius: 50%;
                    cursor: pointer;
                    text-indent: -9999px;
                    transition: $transition;
                    &::before {
                        @extend %icon;
                        color: #5A585B;
                    }
                    &:hover { 
                        background-color: $primary-color8;
                        color: $primary-color3;
                    }
                }
                .pinterest::before { content: "\f231"; }
                .facebook::before { content: "\f09a"; }
                .twitter::before { content: "\f099"; }
            
            }
        }
        p {
            padding: 11px 30px;
            border-radius: 8px;
            display: $display;
            background-color: #ABABAB;
            color: $primary-color3;
            font-size: 11px;
            span {
                display: block;
                font-size: 17px;
            }
            &::before {
                @extend %icon;
                content: "\f179";
                margin-right: 10px;
            }
        }
    }
}

/*newsletter section end*/