@media only screen and (max-width: 1400px) {
    header {
        .header-section {
            h1 {
                img { height: 90px; }
            }
            .search-field {
                div {
                    &:last-child  {
                        input {
                            font-size: 15px;
                        }
                       
                    }
                }
            }
        }
        
    }   
}

@media only screen and (max-width: 1200px) {

    header {
        .header-section {
            h1 {
                img { height: 88px; }
            }
            .search-field { 
                div {
                    &:last-child { 
                        input { font-size: 15px; }
                    }
                }
            }
        }
       
    }
    .banner {
        .banner-recipe {
            width: 8%;
            padding: 33px 0%;
            top: 76px;
            font-size: 15px;
        }
        .card-text {
            top: 230px;
            .recipe-text {
                padding: 15px 6% 20px;
                h2 {
                    font-size: 28px;
                }
            }

        }
        .banner-icon { left: 20%; }
    }
    .recipe-guide {
        .master-basics {
            ul {
                li { margin-left: 1%; }
            }
        }
    }
    footer {
        .footer-left {
            width: 45%;
            ul {
                li {
                    padding: 0px 2%;
                    a { font-size: 13px; }
                }
            }
            
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header-section {
        .search-field { 
            div {
                &:last-child { width: 83%; }
            }
        }
    }
   
    .banner {
        .banner-recipe {
            padding: 13px 0;
            top: 66px;
        }
    }
}

@media only screen and (max-width: 995px) {
    .header-section {
        h1 { flex-basis: 20%; }
        .search-field { display: none; }
    }
    
    .banner {
        .card-text {
            top: 186px;
            .recipe-text {
                h2 { font-size: 23px; }
                p { font-size: 17px; }
            }
        }
    }
} 