$text: #A59EA4;
$transition: 1s;
$primary-color1: #BC7071;
$header-padding: 20px 0;
$primary-color2: #DEDCDF;
$primary-color3: #FFFFFF;
$primary-color4: #000000;
$primary-color5: #949597;
$primary-color6: #E0DFDB;
$primary-color7: #DB3E35;
$primary-color8: #928F8D;
$text-trans1: uppercase;
$text-trans2: capitalize;
$align: center;
$family: serif;
$display: inline-block;
$display1: flex;
$margin: 20px;
$weight: bold;