/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1518px;
  width: 97%;
  margin: 0 auto;
}

.newsletter .icons p::before, .newsletter .icons ul li a::before, .recipe-guide .master-basics ul .recipe-image div a::before, .recipe-guide .recipe-display .recipe-list .view-recipe div a::before, .recipe-guide .recipe-slider ul li .recipe-description .time::after, .banner .banner-icon li a::before, .header-section .search-field div:first-child::before {
  font-family: FontAwesome;
  font-size: 24px;
  text-indent: 0;
  float: left;
}

.header-section .menu li:nth-child(3) span {
  display: block;
  color: #938E8E;
  text-align: center;
  text-transform: capitalize;
}

.header-section .menu li:hover, .header-section .menu li.active {
  border-color: #DEDCDF;
  border-bottom: none;
}

.banner .banner-icon, .banner .card-text, .banner .banner-recipe {
  position: absolute;
  transform: translate(-50%, -50%);
}

.recipe-guide .recipe-display, .recipe-guide .recipe-slider {
  border-bottom: 9px solid #292728;
}

.newsletter .icons ul, .recipe-guide .master-basics ul, .recipe-guide .recipe-display .recipe-list, .recipe-guide .recipe-slider .inbox, .recipe-guide .recipe-slider ul {
  display: flex;
  justify-content: space-between;
}

.header-section {
  display: flex;
  justify-content: space-between;
}
.header-section h1 {
  border-right: 2px solid #DEDCDF;
  flex-basis: 17%;
}
.header-section .search-field {
  padding: 20px 0;
  display: flex;
  flex-basis: 37%;
}
.header-section .search-field div:first-child a {
  text-indent: -9999px;
}
.header-section .search-field div:first-child::before {
  content: "\f002";
  color: #9F9A9D;
  cursor: pointer;
}
.header-section .search-field div:first-child:hover {
  color: #000000;
}
.header-section .search-field div:last-child {
  width: 55%;
}
.header-section .search-field div:last-child input {
  width: 100%;
  border: none;
  color: #A59EA4;
  font-size: 21px;
  font-weight: bold;
  outline: none;
}
.header-section .search-field div:last-child input::placeholder {
  color: #A59EA4;
}
.header-section .menu {
  flex-basis: 44%;
}
.header-section .menu .hamburger {
  display: none;
}
.header-section .menu nav {
  margin-top: 6px;
}
.header-section .menu ul {
  display: flex;
  justify-content: space-between;
}
.header-section .menu li {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px solid transparent;
  padding: 0 2%;
}
.header-section .menu li:nth-child(3) a {
  color: #BC7071;
}
.header-section .menu li:nth-child(4) a {
  color: #BC7071;
}
.header-section .menu a {
  padding: 20px 0;
  color: #757376;
  transition: 1s;
}
.header-section .menu a:hover {
  color: #A59EA4;
}

/*banner section start*/
.banner {
  margin-top: -14px;
  position: relative;
}
.banner .wrapper {
  width: 100%;
}
.banner .banner-recipe {
  width: 9%;
  padding: 45px 0%;
  border-radius: 50%;
  z-index: 1;
  top: 100px;
  right: -2%;
  background-color: #DB3E35;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.banner .banner-recipe span {
  display: block;
}
.banner .card-text {
  width: 25%;
  top: 290px;
  right: -6%;
  background-color: #FFFFFF;
}
.banner .card-text .recipe-text {
  padding: 50px 6% 40px;
}
.banner .card-text .recipe-text h2 {
  margin-bottom: 20px;
  color: #262F38;
  font-size: 36px;
  font-family: serif;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}
.banner .card-text .recipe-text p {
  margin-bottom: 20px;
  color: #7F8388;
  font-size: 23px;
  font-family: serif;
  text-align: center;
}
.banner .card-text .recipe-text p::first-letter {
  text-transform: capitalize;
}
.banner .card-text .recipe-text div {
  text-align: center;
}
.banner .card-text .recipe-text div figure {
  width: 12%;
  display: inline-block;
}
.banner .card-text .recipe-text div figure img {
  border-radius: 50%;
}
.banner .card-text .recipe-text div h3 {
  margin-left: 2%;
  display: inline-block;
  color: #302F42;
  font-weight: bold;
  text-transform: uppercase;
}
.banner .banner-icon {
  bottom: 0px;
  left: 15%;
}
.banner .banner-icon li {
  transition: 1s;
}
.banner .banner-icon li:first-child a {
  text-indent: 0;
  text-transform: capitalize;
}
.banner .banner-icon li a {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  text-indent: -9999px;
}
.banner .banner-icon li a::before {
  margin-right: 5px;
  font-size: 18px;
}
.banner .banner-icon li:hover {
  background-color: #7F8388;
}
.banner .banner-icon li .bookmark::before {
  content: "\f097";
}
.banner .banner-icon li .facebook::before {
  content: "\f09a";
}
.banner .banner-icon li .pinterest::before {
  content: "\f231";
}
.banner .banner-icon li .share::before {
  content: "\f064";
}

/*banner section end*/
/*recipe guide section start*/
.recipe-guide {
  background-color: #F1F3EE;
  padding: 55px 0;
}
.recipe-guide .recipe-text {
  margin: 16px 0 8px;
  color: #36383B;
  font-family: serif;
  font-size: 32px;
  text-transform: capitalize;
}
.recipe-guide .recipe-sub-text {
  margin-bottom: 45px;
  color: #B3A7A4;
  font-size: 30px;
}
.recipe-guide .recipe-sub-text::first-letter {
  text-transform: capitalize;
}
.recipe-guide .collection-btn {
  text-align: center;
}
.recipe-guide .collection-btn a {
  padding: 15px 3%;
  border: 2px solid #928F8D;
  border-radius: 6px;
  color: #6E7473;
  font-weight: bold;
  text-transform: capitalize;
  transition: 1s;
}
.recipe-guide .collection-btn a:hover {
  background-color: #928F8D;
  color: #FFFFFF;
}
.recipe-guide .wrapper {
  width: 79%;
}
.recipe-guide .recipe-heading {
  text-align: center;
}
.recipe-guide .recipe-heading h2 {
  margin-bottom: 10px;
  color: #25252C;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}
.recipe-guide .recipe-heading p {
  padding-bottom: 50px;
  border-bottom: 9px solid #292728;
  color: #595553;
  font-family: serif;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}
.recipe-guide .recipe-slider {
  padding-bottom: 60px;
}
.recipe-guide .recipe-slider ul {
  margin-bottom: 40px;
}
.recipe-guide .recipe-slider ul li {
  width: 23%;
}
.recipe-guide .recipe-slider ul li .recipe-description {
  padding: 16px 12px;
  background-color: #FFFFFF;
}
.recipe-guide .recipe-slider ul li .recipe-description h4 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.recipe-guide .recipe-slider ul li .recipe-description p {
  margin-bottom: 46px;
  color: #585659;
  font-size: 14px;
  text-transform: capitalize;
}
.recipe-guide .recipe-slider ul li .recipe-description .time {
  margin-bottom: 8px;
  color: #CECCCF;
  font-size: 13px;
}
.recipe-guide .recipe-slider ul li .recipe-description .time::after {
  content: "\f097";
  cursor: pointer;
  float: right;
}
.recipe-guide .recipe-slider ul li:last-child p {
  margin-bottom: 28px;
}
.recipe-guide .recipe-slider .inbox {
  justify-content: space-around;
}
.recipe-guide .recipe-slider .inbox div p:first-child {
  margin-bottom: 8px;
  color: #2C2928;
  font-size: 18px;
  font-weight: bold;
}
.recipe-guide .recipe-slider .inbox div p:first-child::first-letter {
  text-transform: capitalize;
}
.recipe-guide .recipe-slider .inbox div p:last-child {
  color: #B7B3B3;
}
.recipe-guide .recipe-slider .inbox div p:last-child::first-letter {
  text-transform: capitalize;
}
.recipe-guide .recipe-slider .inbox div p:last-child a {
  border-bottom: 2px solid #949597;
  color: #949597;
  transition: 1s;
}
.recipe-guide .recipe-slider .inbox div p:last-child a:hover {
  color: #000000;
}
.recipe-guide .recipe-slider .inbox form {
  display: flex;
  flex-basis: 53%;
}
.recipe-guide .recipe-slider .inbox form div:first-child {
  margin-left: 6%;
  flex-basis: 57%;
}
.recipe-guide .recipe-slider .inbox form div .email {
  width: 100%;
  height: 37px;
  padding-left: 4%;
  border: 2px solid #E0DFDB;
}
.recipe-guide .recipe-slider .inbox form div .email::placeholder {
  color: #E0DFDB;
}
.recipe-guide .recipe-slider .inbox form div:last-child {
  margin-left: 7%;
}
.recipe-guide .recipe-slider .inbox form div .sign-up {
  height: 40px;
  padding: 0 12px;
  border: 1px solid #DB3E35;
  border-radius: 4px;
  background-color: #DB3E35;
  color: #FFFFFF;
  transition: 1s;
}
.recipe-guide .recipe-slider .inbox form div .sign-up:hover {
  background-color: #949597;
}
.recipe-guide .recipe-display {
  padding-bottom: 70px;
}
.recipe-guide .recipe-display .recipe-list {
  flex-wrap: wrap;
}
.recipe-guide .recipe-display .recipe-list li {
  width: 48%;
  margin-bottom: 35px;
  background-color: #FFFFFF;
}
.recipe-guide .recipe-display .recipe-list .view-recipe {
  padding: 30px 3% 50px;
  text-align: center;
  text-transform: capitalize;
}
.recipe-guide .recipe-display .recipe-list .view-recipe h4 {
  margin-bottom: 15px;
  font-size: 25px;
}
.recipe-guide .recipe-display .recipe-list .view-recipe div a {
  padding: 10px 5%;
  background-color: #DB3E35;
  color: #FFFFFF;
  transition: 1s;
}
.recipe-guide .recipe-display .recipe-list .view-recipe div a::before {
  content: "\f097";
  margin-right: 12px;
}
.recipe-guide .recipe-display .recipe-list .view-recipe div a:hover {
  background-color: #949597;
}
.recipe-guide .master-basics ul {
  padding-bottom: 55px;
}
.recipe-guide .master-basics ul li {
  background-color: #241F25;
}
.recipe-guide .master-basics ul .recipe-image {
  position: relative;
}
.recipe-guide .master-basics ul .recipe-image div {
  position: absolute;
  bottom: 10px;
  right: 5%;
}
.recipe-guide .master-basics ul .recipe-image div a {
  cursor: pointer;
  text-indent: -9999px;
}
.recipe-guide .master-basics ul .recipe-image div a::before {
  content: "\f01d";
  color: #FFFFFF;
}
.recipe-guide .master-basics ul .cooking-guide {
  padding: 20px 5% 50px;
  letter-spacing: 1px;
}
.recipe-guide .master-basics ul .cooking-guide p:first-child {
  margin-bottom: 6px;
  color: #B0ABB1;
  font-size: 14px;
  text-transform: uppercase;
}
.recipe-guide .master-basics ul .cooking-guide h4 {
  margin-bottom: 6px;
  color: #FCF8FC;
  text-transform: capitalize;
}
.recipe-guide .master-basics ul .cooking-guide p:last-child {
  font-size: 14px;
  color: #B6B1B7;
  text-transform: capitalize;
}

/*recipe guide section end*/
/* newsletter section start*/
.newsletter {
  padding: 30px 0 45px;
  background-color: #E5E7E2;
}
.newsletter .wrapper {
  width: 78%;
}
.newsletter .newsletter-mail {
  width: 65%;
  display: inline-block;
}
.newsletter .newsletter-mail h4 {
  margin-bottom: 10px;
  color: #555350;
  font-family: serif;
  font-size: 32px;
  text-transform: capitalize;
}
.newsletter .newsletter-mail p {
  margin-bottom: 30px;
  color: #7D7B7A;
  font-size: 18px;
}
.newsletter .newsletter-mail p::first-letter {
  text-transform: capitalize;
}
.newsletter .newsletter-mail p a {
  border-bottom: 1px solid #7D7B7A;
  color: inherit;
  cursor: pointer;
  transition: 1s;
}
.newsletter .newsletter-mail p a:hover {
  color: #000000;
}
.newsletter .newsletter-mail form {
  display: flex;
  flex-basis: 53%;
}
.newsletter .newsletter-mail form div:first-child {
  margin-left: 6%;
  flex-basis: 57%;
}
.newsletter .newsletter-mail form div .email {
  width: 100%;
  height: 37px;
  padding-left: 4%;
  border: 2px solid #E0DFDB;
}
.newsletter .newsletter-mail form div .email::placeholder {
  color: #E0DFDB;
}
.newsletter .newsletter-mail form div:last-child {
  margin-left: 7%;
}
.newsletter .newsletter-mail form div .sign-up {
  height: 40px;
  padding: 0 12px;
  border: 1px solid #DB3E35;
  border-radius: 4px;
  background-color: #DB3E35;
  color: #FFFFFF;
  transition: 1s;
}
.newsletter .newsletter-mail form div .sign-up:hover {
  background-color: #949597;
}
.newsletter .newsletter-mail form div:first-child {
  margin-left: 0;
  flex-basis: 34%;
}
.newsletter .icons {
  width: 34%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.newsletter .icons ul {
  margin-bottom: 40px;
  justify-content: center;
}
.newsletter .icons ul li {
  margin-left: 5%;
}
.newsletter .icons ul li a {
  padding: 13px 15px;
  border: 3px solid #D9DBD8;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
  transition: 1s;
}
.newsletter .icons ul li a::before {
  color: #5A585B;
}
.newsletter .icons ul li a:hover {
  background-color: #928F8D;
  color: #FFFFFF;
}
.newsletter .icons ul li .pinterest::before {
  content: "\f231";
}
.newsletter .icons ul li .facebook::before {
  content: "\f09a";
}
.newsletter .icons ul li .twitter::before {
  content: "\f099";
}
.newsletter .icons p {
  padding: 11px 30px;
  border-radius: 8px;
  display: inline-block;
  background-color: #ABABAB;
  color: #FFFFFF;
  font-size: 11px;
}
.newsletter .icons p span {
  display: block;
  font-size: 17px;
}
.newsletter .icons p::before {
  content: "\f179";
  margin-right: 10px;
}

/*newsletter section end*/
footer {
  background-color: #272228;
}
footer .foot-section {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
footer .foot-section .footer-left {
  width: 40%;
  display: inline-block;
}
footer .foot-section .footer-left ul {
  width: 100%;
}
footer .foot-section .footer-left ul li {
  padding: 0px 3%;
  border-right: 1px solid #E5E5EA;
  font-size: 15px;
  text-transform: capitalize;
}
footer .foot-section .footer-left ul li a {
  color: #E5E5EA;
}
footer .foot-section li:last-child {
  border-right: none;
}
footer .foot-section li:last-child a {
  font-weight: bold;
}